<!DOCTYPE html>
<html>
<head>
	<title>Hello Angular</title>

	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>

<body>

<div class="logo">
	<img src="/assets/images/logo.png" class="image-logo">
</div>
<div class="quote">
	<img src="/assets/images/quote.png" class="image-quote">
</div>

<main class="form">
	<form>

		<div class="usernameText">USERNAME</div>
		<input type="text" class="input-form" name="username" />

		<div class="passwordText">PASSWORD</div>
		<input type="password" class="input-form" name="password" />

		<div class="button-submit">
			<input type="image" src="/assets/images/button.png" alt="Submit">
		</div>

	</form>
</main>

</body>

</html>